.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding-top: 3rem;
    margin-bottom: 3em;
    overflow-x: hidden;
}