.navbar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(5rem, auto));
    justify-items: center;
    justify-content: space-between;
    row-gap: 3rem;
    padding-bottom: 2rem;
}

.navbar-rsvp {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 1fr;
    align-items: center;
    padding-bottom: 2rem;
}

a:has(.logo) {
    grid-column: 1 / -1;
    justify-self: center;
}

.logo {
    width: 60vw;
}

.link {
    color: #D69A43;
    text-decoration: none;
    font-size: 1.7rem;
    letter-spacing: .1rem;
}

.link.link__home {
    grid-column: 1 / -1;
    justify-self: end;
}