  .where-container {
    display: flex;
    width: 80%;
    gap: 10%;
    margin: 10 0;
  }

  .left {
    flex: 1
  }

  .right {
    flex: 2
  }

  .picture {
    max-width: 80%;
    max-height: 80%;
  }

  .map {
    border: 0
  }
