@font-face {
  font-family: 'Centaur';
  src: url('/fonts/centaur.woff') format('woff'),
       url('/fonts/centaur.ttf')  format('truetype')
}

html {
  scroll-behavior: smooth;
}

#root {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  font-family: 'Centaur', 'Courier New', monospace;
}

body {
  margin: 0 0;
  padding: 0 0;
  background-color: #2E2E30;
  color: #D69A43;
  letter-spacing: .1rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: .5rem;
}

.header {
  padding-bottom: 2rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.2rem;
    letter-spacing: .2rem;
  }
}
